{% extends "base.html" %} {% block content %}
<div class="w-50 m-auto text-center mt-5">
  <h1>Welcome to Our Blog Community!</h1>
  <p>
    A place where everyone’s voice matters. Write, share, and connect through
    your own stories, ideas, and experiences. Start blogging today!
  </p>
</div>
<div class="container">
  <div class="row mt-5">
    {% for p in post %}
    <div class="col-4 d-flex m-auto mb-3">
      <div class="card">
        <h6 class="card-header">Author: {{ p.author.name }}</h6>
        <div class="card-body">
          <h4 class="card-title">{{ p.title }}</h4>
          <p class="card-text">{{ p.content|truncatechars:100 }}</p>
          <p>
            {% for i in p.category.all %}
            <button class="btn btn-light btn-sm">{{i.name}}</button>
            {% endfor %}
          </p>
          <a href="{% url 'edit_post' p.id %}" class="btn btn-primary">Edit </a>
          <a href="{% url 'delete_post' p.id %}" class="btn btn-primary">Delete </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
