<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is My contact page</h1>
    <button><a href="/"> Home</a></button>
    <button><a href="/filter/"> filter home</a></button>
    <button><a href="/filter/about/"> about</a></button>
    <button><a href="/filter/contact/"> contact</a></button>
    
    <button><a href="/filter/template_filter/"> Template Filter</a></button>
  </body>
</html>
